@use '../base/variables' as *;

#app {
  background: $card-bg;
  padding: $padding-base;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;  
}

.hidden {
  display: none !important;
}

button,
label,
input {
  -webkit-tap-highlight-color: transparent;
}

@media (orientation: portrait) {
  #controls {
    margin: 80px auto 110px;
  }
}

@media (orientation: landscape) {
  #app {
    max-width: 568px;
  }

  #main {
   display: flex;
    justify-content: center;
    align-items: center;
    max-width: 460px;             
    margin: 0 auto 52px;
  }

  #controls {
    max-width: 280px;           
  }
}
