@use 'variables' as *;

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacOSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 600;
  background: $bg;
}
