// Цвета
$primary: #007aff;
$bg: #f5f5f7;
$card-bg: white;
$gray-light: #e5e5ea;
$gray: #8e8e93;
$border: black;

// Размеры
$progress-size: 150px;
$switch-width: 45px;
$switch-height: 28px;
$switch-knob-size: 24px;

// Шрифты
$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$font-size: 16px;
$font-weight: 500;

// Интервалы
$gap-controls: 13px;
$gap-control-items: 20px;
$padding-base: 22px